router id 174.136.236.254;

define LOCAL_AS = 141776;
define LOCAL_ROUTER_NUM = 1;
define LOCAL_CODE_AREA = 1;
define LOCAL_CODE_COUNTRY = 840;  # USA

define IBGP_SOURCE_ADDRESS = 2406:840:e080:1::1;
